@import 'base/base';
@import 'components/buttons';
@import 'components/forms';
@import 'components/grids';
@import 'components/table';
@import 'components/spinner';
@import 'groups';

.overlay {
  background: rgba(0, 0, 0, 0.6);
  visibility: hidden;
  position: fixed;
  height: 100%;
  left: 0px;
  top: 0;
  width: 100%;
  text-align: center;
  @include z-index-7;
  .overlay-box {
    position: relative;
    width: 820px;
    margin: 10% auto;
    border: 1px solid #000;
    background: $gray;
    text-align: center;
  }
}

.overlay-close {
  color: #fff;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 13px;
  font-size: 1.4rem;
  text-align: right;
  @include z-index-9;
}

.overlay-form {
  font-size: 1.4rem;
  padding: 0 0 30px 0;
  legend {
    text-transform: uppercase;
    background: $dark-gray;
    width: 800px;
    color: #fff;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    text-align: left;
    @include z-index-8;
  }
  .form-control-group {
    margin-top: 10px;
  }

  .overlay-form-seperator {
    padding: 20px 0 0;
    margin: 20px 0 ;
  }
}

#newTransactionOverlay {
  @extend .overlay;
}

#newAccountOverlay {
  @extend .overlay;
}

#newBudgetOverlay {
  @extend .overlay;
}

.dashboard-home {
  background:  #FCFCFC;
}

.user-bar {
    background: $dark-gray;
    height: 72px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    list-style: none;
    @include z-index-4;
}

#user-menu {
  list-style: none;
  text-align: center;
  @include z-index-5;
  height: 100%;
  right: 0;
  font-size:
  li {
    color: $white;
  }
}

.user-dropdown {
  float: right;
  height: 100%;
  a {
    padding: 0 25px;
    font-size: $base-font-size;
    height: 100%;
    display: block;
    text-decoration: none;
    color: $white;
    &:hover {
      background: #424242;
    }
  }
}

.user-bar-component {
  position: relative;
  top: 24px;
  img {
    position: relative;
    border-radius: 48px;
    display: block;
    width: 48px;
    height: 48px;
    top: -12px;
  }
}

.user-bar-component > .fa {
  font-size: 1.5rem;
  margin-top: 2px;
}

.nav {
  background: $gray;
  width: 15%;
  height: 100%;
  border-right: 1px solid #ccc;
  position: fixed;
  top: 72px;
  @include z-index-3;
}

#nav-menu {
  li {
    width: 100%;
    border-bottom: 1px solid #ccc;
  }
}

.dash-link {
  color: $dark-gray;
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  text-align: left;
  padding: 15px 15px 15px 0;
  &:hover, &:focus {
    background: $light-gray;
  }
}

.active {
  a {
    background: $light-gray;
  }
}

.icon {
  padding-left: 25px;
  font-size: $medium;
}

.icon-text {
  padding-left: 5px;
  font-size: $medium;
  text-transform: uppercase;
}

#tagList {
  cursor: pointer;
  position: relative;
}

#tagListSpinner {
  display: none;
  position: absolute;
  height: 20px;
  width: 20px;
  top: -48px;
  left: 60%;
}

.tags-list {
  @include z-index-2;
  position: fixed;
  margin-left: 15%;
  height: 100%;
  width: 20%;
  left: -20.5%;
}

.slide-left {
    transform: translateX(-100%);
}

.slide-right {
    transform: translateX(100%);
}

.slide {
    transition: transform 1s;
}

#tagsList {
  @extend .slide;
  @include z-index-3;
  position: relative;
  background: #fcfcfc;
  list-style: none;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  height: 100%;
  width:100%;
  li {
    padding: 11px 20px;
  }
}

.tag-list-title {
  font-size: $larger;
  border-bottom: 1px solid #ccc;
  text-transform: uppercase;
}

.add-tag-button {
  margin-top: 20px;
}

#addTag {
  width: 100%;
  font-size: $medium;
}

#dashboardContainer {
  margin-left: 15%;
  margin-top: 72px;
  height: 100%;
  width: calc(100% - 15%);
}

.dashboard {
  padding: 10px;
}

#dashboard-controls {
  font-size: 1.3rem;
  padding: 2% 10px;
  margin-bottom: 5%;
  button {
    margin: 5px 8%;
    padding: 8px 20px;
    span {
      padding-right: 5px;
    }
  }
}

#dashboard-controls > .flex-cell {
    text-align: center;
    position: relative;
}

#addButton {
  position: relative;
  .loader {
      position: absolute;
      border-left: 1.1em solid #313131;
      width: 4em;
      height: 4em;
      top: -162%;
      left: 105px;
      display: none;
  }
}

#searchBar {
  margin: 5px auto;
  font-size: 1.2rem;
  width: 100%;
  position: relative;
  bottom: 2px;
  input[type=text] {
    padding: 10px 15px;
  }
}

#addOptions {
  display: none;
  position: absolute;
  background: $dark-gray;
  color: #fff;
  top: 40px;
  font-size: 1.1rem;
  list-style: none;

  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
  /* Styles */
  }
  /* Desktops and laptops ----------- */
  @media only screen  and (min-width : 1224px) {
  /* Styles */
    left: 65px;
  }

  /* Large screens ----------- */
  @media only screen  and (min-width : 1824px) {
  /* Styles */
  }
  li {
    text-transform: uppercase;
    cursor: pointer;
    background: $dark-gray;
    position: relative;
    span {
      display: inline-block;
    }

    &:hover {
      background: #4A4A4A;
    }

    &:active {
      background: #181818;
    }
  }

}

#addAccountButton {
  padding: 10px 26px;
  text-align: left;
}

#addTransactionButton {
  padding: 10px 25px;
  text-align: center;
}

#addBudgetButton {
  padding: 10px 25px;
  text-align: left;
}

#uploadButton {
  padding: 10px 25px;
}

#totals {
  width: 90%;
  text-align: center;
  margin: 20px auto 40px;
  h2 {
    color: $dark-gray;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 1.8rem;
  }
}

.total-amount {
  font-size: 1.8rem;
}

.seperator {
  width: 90%;
  border: 1px solid $gray;
  margin: 40px auto;
}

.transactions {
  width: 100%;
}

.widget-controls {
  font-size: $base-font-size;
  width: 90%;
  text-transform: uppercase;
  margin: 20px auto;
  h3 {
    font-weight: normal;
  }
}

.transaction-widget-form {
  width: 100%;
}

#transactionActivity {
  width: 90%;
  margin: 0 auto;

}

#numTransactions {
  font-size: 1.2em;
  text-align: center;
  padding: 10px;
  margin-top: 10px;
}

#shownSize {
}

.date-cell {
  text-align: center;
}

.amount-cell {
  text-align: right;
}

.red-amount {
  color: $red;
}

.green-amount {
  color: $light-blue;
}

.transfer {

}

.description-cell {
  text-align: left;
}

.tags-cell {
  text-align: left;
  span {
    background: $gray;
    margin: 0 5px;
    padding: 8px 10px;
    border-radius: 2px;
    &:hover {
      background: $darker-gray;
      cursor: pointer;
    }
  }
}
.account-cell {
  text-align: left;
}

.spinner {
  display: block;
  margin: 0 auto;
  text-align: center;
}


.form-spinner {
  background: rgba(0, 0, 0, 0.6);
  visibility: hidden;
  position: absolute;
  height: 100%;
  left: 0px;
  top: 0;
  width: 100%;
  text-align: center;
  @include z-index-10;
}

.transaction-spinner {
  @extend .form-spinner;
}

.message {
  margin-bottom: 2%;
  display: block;
  position: relative;
  padding: 10px;
  text-align: center;
  color: $white;
  font-size: 1.4rem;
}

.success {
  @extend .message;
  background: $green;
}

.warning {
  @extend .message;
  background: $yellow;
}

.error {
  @extend .message;
  background: $red;
}

#closeMessage {
  color: $white;
  cursor: pointer;
  position: absolute;
  top: 14px;
  right: 18px;
}

.slider {
  overflow-y: hidden;
  max-height: 41px; /* approximate max height */

  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.closed {
  max-height: 0;
}
