// reds
$red: #E74C3C;

// greens
$green: #26A65B;

// blues
$light-blue: #6da8af;


// yellow
$yellow: #F7CA18;
// greys
$dark-gray: #313131;
$darker-gray: #CACACA;
$gray: #ECECEC;
$light-gray: #FCFCFC;
$white: #FFFFFF;
