/*
Error: Invalid CSS after "      outline": expected ";", was ": 0;"
        on line 14 of public/sass/components/_forms.scss
        from line 3 of public/sass/dashboard.scss

9:     font-size: 1.1em;
10:     width: 90%;
11:     padding: 8px 15px;
12:     &:focus {
13:       border: 1px solid 
14:       outline: 0;
15:     }
16:   }
17: }

Backtrace:
public/sass/components/_forms.scss:14
public/sass/dashboard.scss:3
/home/millenniumbrain/Projects/budget-commander/vendor/jruby/2.2.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:1180:in `expected'
/home/millenniumbrain/Projects/budget-commander/vendor/jruby/2.2.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:1115:in `expected'
/home/millenniumbrain/Projects/budget-commander/vendor/jruby/2.2.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:1110:in `tok!'
/home/millenniumbrain/Projects/budget-commander/vendor/jruby/2.2.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:775:in `block in try_declaration'
org/jruby/RubyProc.java:318:in `call'
/home/millenniumbrain/Projects/budget-commander/vendor/jruby/2.2.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:1155:in `rethrow'
/home/millenniumbrain/Projects/budget-commander/vendor/jruby/2.2.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:780:in `try_declaration'
/home/millenniumbrain/Projects/budget-commander/vendor/jruby/2.2.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:709:in `declaration_or_ruleset'
/home/millenniumbrain/Projects/budget-commander/vendor/jruby/2.2.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:674:in `block_child'
/home/millenniumbrain/Projects/budget-commander/vendor/jruby/2.2.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:663:in `block_contents'
/home/millenniumbrain/Projects/budget-commander/vendor/jruby/2.2.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:655:in `block'
/home/millenniumbrain/Projects/budget-commander/vendor/jruby/2.2.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:724:in `declaration_or_ruleset'
/home/millenniumbrain/Projects/budget-commander/vendor/jruby/2.2.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:674:in `block_child'
/home/millenniumbrain/Projects/budget-commander/vendor/jruby/2.2.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:666:in `block_contents'
/home/millenniumbrain/Projects/budget-commander/vendor/jruby/2.2.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:655:in `block'
/home/millenniumbrain/Projects/budget-commander/vendor/jruby/2.2.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:724:in `declaration_or_ruleset'
/home/millenniumbrain/Projects/budget-commander/vendor/jruby/2.2.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:674:in `block_child'
/home/millenniumbrain/Projects/budget-commander/vendor/jruby/2.2.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:666:in `block_contents'
/home/millenniumbrain/Projects/budget-commander/vendor/jruby/2.2.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:655:in `block'
/home/millenniumbrain/Projects/budget-commander/vendor/jruby/2.2.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:647:in `ruleset'
/home/millenniumbrain/Projects/budget-commander/vendor/jruby/2.2.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:673:in `block_child'
/home/millenniumbrain/Projects/budget-commander/vendor/jruby/2.2.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:663:in `block_contents'
/home/millenniumbrain/Projects/budget-commander/vendor/jruby/2.2.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:123:in `stylesheet'
/home/millenniumbrain/Projects/budget-commander/vendor/jruby/2.2.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:39:in `parse'
/home/millenniumbrain/Projects/budget-commander/vendor/jruby/2.2.0/gems/sass-3.4.21/lib/sass/engine.rb:403:in `_to_tree'
/home/millenniumbrain/Projects/budget-commander/vendor/jruby/2.2.0/gems/sass-3.4.21/lib/sass/engine.rb:309:in `to_tree'
/home/millenniumbrain/Projects/budget-commander/vendor/jruby/2.2.0/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:324:in `block in visit_import'
/home/millenniumbrain/Projects/budget-commander/vendor/jruby/2.2.0/gems/sass-3.4.21/lib/sass/stack.rb:88:in `block in with_import'
/home/millenniumbrain/Projects/budget-commander/vendor/jruby/2.2.0/gems/sass-3.4.21/lib/sass/stack.rb:115:in `with_frame'
/home/millenniumbrain/Projects/budget-commander/vendor/jruby/2.2.0/gems/sass-3.4.21/lib/sass/stack.rb:88:in `with_import'
/home/millenniumbrain/Projects/budget-commander/vendor/jruby/2.2.0/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:323:in `visit_import'
/home/millenniumbrain/Projects/budget-commander/vendor/jruby/2.2.0/gems/sass-3.4.21/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/millenniumbrain/Projects/budget-commander/vendor/jruby/2.2.0/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/home/millenniumbrain/Projects/budget-commander/vendor/jruby/2.2.0/gems/sass-3.4.21/lib/sass/stack.rb:79:in `block in with_base'
/home/millenniumbrain/Projects/budget-commander/vendor/jruby/2.2.0/gems/sass-3.4.21/lib/sass/stack.rb:115:in `with_frame'
/home/millenniumbrain/Projects/budget-commander/vendor/jruby/2.2.0/gems/sass-3.4.21/lib/sass/stack.rb:79:in `with_base'
/home/millenniumbrain/Projects/budget-commander/vendor/jruby/2.2.0/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:158:in `visit'
/home/millenniumbrain/Projects/budget-commander/vendor/jruby/2.2.0/gems/sass-3.4.21/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
org/jruby/RubyArray.java:2300:in `map'
/home/millenniumbrain/Projects/budget-commander/vendor/jruby/2.2.0/gems/sass-3.4.21/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/home/millenniumbrain/Projects/budget-commander/vendor/jruby/2.2.0/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/home/millenniumbrain/Projects/budget-commander/vendor/jruby/2.2.0/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/home/millenniumbrain/Projects/budget-commander/vendor/jruby/2.2.0/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/home/millenniumbrain/Projects/budget-commander/vendor/jruby/2.2.0/gems/sass-3.4.21/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/home/millenniumbrain/Projects/budget-commander/vendor/jruby/2.2.0/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/home/millenniumbrain/Projects/budget-commander/vendor/jruby/2.2.0/gems/sass-3.4.21/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/millenniumbrain/Projects/budget-commander/vendor/jruby/2.2.0/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:158:in `visit'
/home/millenniumbrain/Projects/budget-commander/vendor/jruby/2.2.0/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:8:in `visit'
/home/millenniumbrain/Projects/budget-commander/vendor/jruby/2.2.0/gems/sass-3.4.21/lib/sass/tree/root_node.rb:36:in `css_tree'
/home/millenniumbrain/Projects/budget-commander/vendor/jruby/2.2.0/gems/sass-3.4.21/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/home/millenniumbrain/Projects/budget-commander/vendor/jruby/2.2.0/gems/sass-3.4.21/lib/sass/engine.rb:378:in `_render_with_sourcemap'
/home/millenniumbrain/Projects/budget-commander/vendor/jruby/2.2.0/gems/sass-3.4.21/lib/sass/engine.rb:295:in `render_with_sourcemap'
/home/millenniumbrain/Projects/budget-commander/vendor/jruby/2.2.0/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
/home/millenniumbrain/Projects/budget-commander/vendor/jruby/2.2.0/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
org/jruby/RubyArray.java:1560:in `each'
/home/millenniumbrain/Projects/budget-commander/vendor/jruby/2.2.0/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/home/millenniumbrain/Projects/budget-commander/vendor/jruby/2.2.0/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:293:in `watch'
/home/millenniumbrain/Projects/budget-commander/vendor/jruby/2.2.0/gems/sass-3.4.21/lib/sass/plugin.rb:109:in `method_missing'
/home/millenniumbrain/Projects/budget-commander/vendor/jruby/2.2.0/gems/sass-3.4.21/lib/sass/exec/sass_scss.rb:383:in `watch_or_update'
/home/millenniumbrain/Projects/budget-commander/vendor/jruby/2.2.0/gems/sass-3.4.21/lib/sass/exec/sass_scss.rb:51:in `process_result'
/home/millenniumbrain/Projects/budget-commander/vendor/jruby/2.2.0/gems/sass-3.4.21/lib/sass/exec/base.rb:52:in `parse'
/home/millenniumbrain/Projects/budget-commander/vendor/jruby/2.2.0/gems/sass-3.4.21/lib/sass/exec/base.rb:19:in `parse!'
/home/millenniumbrain/Projects/budget-commander/vendor/jruby/2.2.0/gems/sass-3.4.21/bin/sass:13:in `<top>'
org/jruby/RubyKernel.java:957:in `load'
bin/sass:16:in `<top>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"      outline\": expected \";\", was \": 0;\"\A         on line 14 of public/sass/components/_forms.scss\A         from line 3 of public/sass/dashboard.scss\A \A 9:     font-size: 1.1em;\A 10:     width: 90%;\A 11:     padding: 8px 15px;\A 12:     &:focus {\A 13:       border: 1px solid \A 14:       outline: 0;\A 15:     }\A 16:   }\A 17: }"; }
