<div id="newAccountWrapper" ng-app="AccountsForm">
  <div ng-controller="Account">
    <form ng-submit="submit()" class="form" novalidate>
      <fieldset>
        <label>
          New Account
        </label>
        <input type="text" ng-model="account.name" required>
        <button class="button">New</button>
      </fieldset>
    </form>
  </div>
</div>
<script src="js/users/accounts/new.js"></script>
