.button {
  border: 1px solid #ddd;
  background: $gray;
  color: $dark-gray;
  padding: 8px 15px;
  border-radius: 2px;
  text-transform: uppercase;
  outline: none;

  &:hover {
    background: #dbdbdb;
  }

  &:active {
    background: #c1c1c1;
  }
}

.primary {
  @extend .button;
  border: none;
  color:  #9EDBF5;
  background: #273140;
  &:hover {
    background: #4a4a4a;
  }

  &:active {
    background: #181818;
  }
}

.secondary {
  @extend .button;
  background: #19B5FE;
  color: #fff;
  &:hover {
    background: #4183D7;
  }
}

.important {
  @extend .button;
  color: $white;
  background: #d62c1a;
  border: none;
  &:hover {
    background: $red;
  }

  &:active {
    background: #b82617;
  }
}
