form {
  fieldset {
    border: none;
    margin: 0;
    padding: 0;
  }

  input[type=text] {
    font-size: 1.1em;
    width: 90%;
    padding: 8px 15px;
    &:focus {
      border: 1px solid 
      outline: 0;
    }
  }
}
