form {
  fieldset {
    border: none;
    margin: 0;
    padding: 0;
  }

  input[type=text] {
    font-size: 1.1em;
    width: 90%;
    padding: 8px 15px;
    border: 1px solid $darker-gray;
    border-radius: 3px;
    &:focus {
      border: 1px solid $light-blue;
      border-radius: 3px;
      outline: 0;
    }
  }
}

.form-aligned {
  text-align: left;
  label {
    display: block;
  }
  input[type=text] {
    width: 80% !important;
  }
  select {
    padding: 6px;
  }
}

.form-control-group {
  padding: 0 25px;
}

.form-controls-group {
  text-align: left;
  padding: 0 25px;
  margin-top: 20px;
}
