#tagListButton {
  cursor: pointer;
  position: relative;
}

#tagListSpinner {
  display: none;
  position: absolute;
  height: 20px;
  width: 20px;
  top: -48px;
  left: 60%;
}

.item-list {
  @include z-index-6;
  position: fixed;
  margin-left: 15%;
  height: 100%;
  width: 20%;
  left: -20.5%;
  top: 0;
}

.slide-left {
    transform: translateX(-100%);
}

.slide-right {
    transform: translateX(100%);
}

.slide {
    transition: transform 1s;
}

#tagList, #accountList {
  @extend .slide;
  @include z-index-3;
  position: relative;
  background: #fff;
  list-style: none;
  height: 100%;
  width:100%;
  li {
    padding: 12px 5px 12px 20px;
    
  }
}

.list-item  {
  position: relative;
  font-size: 1.4em;
  color: #3c5060;
  border-bottom: 1px dashed #bdc7d7;
  &:hover {
    background: #172030;
    cursor: pointer;
    color: #9EDBF5;
  }
}

.item-name {
  position: relative;
  display: inline-block;
  width: 50%;
  
}

.item-total {
  position: absolute;
  top: 12px;
  right: 10px;
  width: 45%;
  text-align: right;
}

#tagListTitle, #accountListTitle {
  font-size: $larger;
  color: #3c5060;
  text-transform: uppercase;
}

.item-add-button {
  margin-top: 20px;
  text-align: center;
  button {
    color: #3c5060;
    background: #f9fafb;
    width: 90%;
    font-size: $medium;
    &:hover {
      background: #273140 ;
      color: #CEEDF9;
    }
  }

}

#addTag {
}

#addAccount {

}

#accountList {

}

#accountListTitle {

}
