.message {
  margin-bottom: 2%;
  display: block;
  position: relative;
  padding: 10px;
  text-align: center;
  color: $white;
  font-size: 1.4rem;
}

.success {
  @extend .message;
  background: $green;
}

.warning {
  @extend .message;
  background: $yellow;
}

.error {
  @extend .message;
  background: $red;
}

#closeMessage {
  color: $white;
  cursor: pointer;
  position: absolute;
  top: 14px;
  right: 18px;
}
