<div id="transactionOverlay">
  <div class="overlay-box">
    <span id="closeTranOverlay" class="fa fa-close overlay-close"></span>
    <form id="formTransactions" class="overlay-form form form-aligned" method="post" action="/users/transactions">
      <fieldset>
        <legend><span id="multiTransaction" class="overlay-legend">Multiple Transaction</span><span class="overlay-legend">|</span><span id="singleTransaction" class="overlay-legend">Add Transaction</span></legend>
        <div class="form-control-group">
          <h4>Type</h4>
          <label class="radio-overlay">
            Expense
            <input type="radio" name="type" value="expense" checked>
          </label>
          <label class="radio-overlay">
            Income
            <input type="radio" name="type" value="income">
          </label>
          <label class="radio-overlay">
            Loan
            <input type="radio" name="type" value="loan">
          </label>
          <label class="radio-overlay">
            Transfer
            <input type="radio" name="type" value="transfer">
          </label>
        </div>
        <div class="form-control-group">
          <label>Description</label>
          <input type="text" name="description">
          <label>Amount</label>
          <input type="text" name="amount">
          <select name="account">
            <option value="Wallet">Wallet</option>
          </select>
          <span class="select-arrow fa fa-caret-down"></span>
        </div>
        <div class="form-control-group">
          <label>Date</label>
          <input class="form-overlay-date" type="text" name="date">
          <label>Tags</label>
          <input type="text" name="tags">
        </div>
        <button class="primary" type="submit">Submit</button>
      </fieldset>
    </form>
  </div>
</div>
<div id="accountOverlay">
  <div class="overlay-box">
    <span id="closeAccountOverlay" class="fa fa-close overlay-close"></span>
    <form id="acctOverlayForm" class="overlay-form form form-aligned" method="post" action="/users/accounts/new">
      <fieldset>
        <legend><span class="overlay-legend">Add Account</span></legend>
        <div id="searchAccountGroup" class="form-control-group">
          <h4>Financial Institution</h4>
          <span class="fa fa-search"></span>
          <input type="text" placeholder="Search">
          <button type="Submit" class="primary">Add Account</button>
        </div>
      </fieldset>
    </form>
  </div>
</div>
<div id="budgetOverlay">
  <div class="overlay-box">
    <span id="closeBudgetOverlay" class="fa fa-close overlay-close"></span>
    <form id="addBudgetForm" class="overlay-form form form-aligned">
      <legend><span class="overlay-legend">Add Budgets</span></legend>
      <div class="form-control-group">
        <h4>Budgets</h4>
        <form class="overlay-form">
          <div class="form-control-group">
            <label>Overall Spending Limit</label>
            <input type="text">
          </div>
          <table>
            <thead>
              <tr>
              <th>Name</th>
              <th>Spending Limit</th>
              <th>Frequency</th>
              <th>Reccuring</th>
            </tr>
            </thead>
            <tbody>
              <% for i in 0...7 do %>
                <tr>
                  <td><input type="text"></td>
                  <td><input type="text"></td>
                  <td>
                    <select autocomplete="off">
                      <option>per week</option>
                      <option selected=”selected”>per month</option>
                      <option>per year</option>
                      <span class="select-arrow fa fa-caret-down"></span>
                    </select>
                  </td>
                  <td><input type="checkbox"></td>
                </tr>
              <% end %>
              <tr><td><button class="button-budget">Add Another Budget</button></td></tr>
            </tbody>
          </table>
          <button class="primary">Save</button>
        </form>
      </div>
    </form>
  </div>
</div>
<div class="overview flex-grid">
  <div class="add-upload flex-cell">
    <button id="addButton" class="primary"><span class="fa fa-usd"></span>Add</button>
    <ul id="addOptions">
      <li id="addTransactionItem"><span class="fa fa-plus"></span>Transaction</li>
      <li id="addAccountItem"><span class="fa fa-plus"></span>Account</li>
      <li id="addBudgetItem"><span class="fa fa-plus"></span>Budget</li>
      <li><span class="fa fa-plus"></span>Tags</li>
    </ul>
    <button id="uploadButton" class="primary"><span class="fa fa-upload"></span>Upload</button>
  </div>
  <div class="flex-cell">
    <form class="search">
      <div class="form-control">
        <span class="fa fa-search"></span>
        <input type="text" placeholder="Search">
      </div>
    </form>
  </div>
  <div class="download flex-cell">
    <button id="downloadButton" class="button"><span class="fa fa-download"></span>Download</button>
    <button id="downloadButton" class="button"><span class="fa fa-rocket"></span>Export</button>
  </div>
</div>
<div class="flex-grid">
  <div class="widget-container flex-cell">
    <div class="chart-widget" id="overallBudgetChart"></div>
  </div>
  <div class="widget-container flex-cell">
    <div class="chart-widget" id="networthChart"></div>
  </div>
</div>
<div class="sum-total flex-grid">
</div>
<div class="transaction">
  <table id="activity">
    <thead>
      <tr>
        <th class="date-label">Date</th>
        <th class="amount-label">Amount</th>
        <th class="description-label">Description</th>
        <th class="tag-label">Tags</th>
        <th class="account-name">Account Name</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
