<div class="overview flex-grid">
  <div class="flex-cell">
    <button id="addButton" class="primary"><span class="fa fa-usd"></span>Add</button>
    <button id="uploadButton" class="primary"><span class="fa fa-upload"></span>Upload</button>
  </div>
  <div class="flex-cell">
    <form class="search">
      <div class="form-control">
        <span class="fa fa-search"></span>
        <input type="text" placeholder="Search">
      </div>
    </form>
  </div>
  <div class="download flex-cell">
    <button id="downloadButton" class="button"><span class="fa fa-download"></span>Download</button>
    <button id="downloadButton" class="button"><span class="fa fa-rocket"></span>Export</button>
  </div>
</div>
<div class="sum-total flex-grid">
</div>
<div class="transaction">
  <table id="activity">
    <thead>
      <tr>
        <th class="date-label">Date</th>
        <th class="amount-label">Amount</th>
        <th class="amount-label">Description</th>
        <th class="tag-label">Tags</th>
        <th class="account-name">Account Name</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
<script src="/js/users/dashboard.js"></script>
